@font-face {
    font-family: 'glyphicons';
    src: url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/fonts/glyphicons-halflings-regular.woff') format('woff');
}

.checkMarked {
    background-image: linear-gradient(#EDEDED, #DEDEDE);
    border: solid 1px #ACACAC;
    border-radius: 8px;
    box-shadow: 0 1px #DEDEDE;
    box-sizing: border-box;
    display: inline-block;
    height: 45px;
    width: 44px;
}
.checkedMarkedlabel {
    display: inline-block;
    height: 45px;
}
.checkedMarkedlabel span {
    display: block;
    float: left;
    height: 45px;
}
.checkedMarkedlabelTxt {
    line-height: 45px;
    margin-left: 10px;
}
.checked:after {
    color: #414141;
    /*color: #7AB317;*/ /* Green */
    content: '\e013';
    font-family: glyphicons;
    font-size: 37px;
    line-height: 1.2em;
    padding-left: 1px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
